body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    margin-bottom: 20px;

}

.bg-success{
    background-color: #00c9ab !important;
}

.navbar-brand{
    color: white !important;
}
.nav-link {
    color: white !important;
}


button:hover{
    background-color: #00c9ab !important;
}

.carousel-caption{
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 40;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    font-size: 1.3rem;
}
.featured{
    margin-top: 15.8rem;
    color: #1f2123;
    opacity: 0.8;
    background-color: #dddddd;
}
.feat{
    text-align: center;
}


.col-xs-1{
    margin:23px;
}
.fix{
    padding-top: 20px;
    padding-bottom: 20px;
}
.last{
    color: #1f2123;
    opacity: 0.8;
    background-color: #dddddd;
}

.last p{
    display: inline;
}


hr
{
    color: red;
    background: white;
    border: 0;
    height: 1px;
    margin: 0px;
}


/*login-style*/

.login{
    padding-top: 100px;
    padding-bottom: 9rem;
}

.nav-pills .item1 a{
    color: #1f2123 !important;
    text-shadow: 0.2px 0.2px;
}

.nav-pills .item2 a{
    color: #1f2123 !important;
    text-shadow: 0.2px 0.2px;
}

.nav-pills .item3 a{
      color: #1f2123 !important;
      text-shadow: 0.2px 0.2px;
  }

.nav-pills .item4 a{
    color: #1f2123 !important;
    text-shadow: 0.2px 0.2px;
}

.nav-pills .item1 a.active{
    background-color: #1f2123;
    color: white !important;
}

.nav-pills .item1 a:hover{
    background-color: #00c9ab;
    color: white !important;
}

.nav-pills .item2 a.active{
    background-color: #1f2123;
    color: white !important;
}
.nav-pills .item2 a:hover{
    background-color: #00c9ab;
    color: white !important;
}

.nav-pills .item3 a.active{
    background-color: #1f2123;
    color: white !important;
}
.nav-pills .item3 a:hover{
    background-color:#00c9ab;
    color: white !important;
}

.nav-pills .item4 a.active{
    background-color: #1f2123;
    color: white !important;
}
.nav-pills .item4 a:hover{
    background-color:#00c9ab;
    color: white !important;
}
.label{
    color: #1f2123 !important;
}

.submit{
    background-color: #1f2123;
    color:white !important;
}

.tip-email{
    font-size: 12px;
}
.submit:hover{
    color: white;
    background-color: darkgreen}

.fixed-bottom{
    margin-bottom: 20px;
}

nav i{
    font-size: 1.3rem;
}

/*button.btn.btn-dark {*/
/*    color: white; !important;*/
/*    border: none;*/
/*}*/

#rating_comments button{
    color: white; !important;
    border: none;
}

.featured_text{
    color: #1f2123;
    font-size: 1.2rem;
    font-weight: bold;
}

.social_media{
    text-align: center;
    font-size: 1.5rem;
}

.social_media i{
    color: #1f2123;
}

.book-item{
    display: inline;
    float: left;
}

.card:hover{
    box-shadow: 0.1rem 0.1rem 0.1rem #dddddd;
}

.card{
    height: 35rem;
}

.card-text{
    display: block;
    font-size: 0.8rem !important;
}

.card-deck h4{
    font-size: 1rem;
}
.sorting{
    height: 100%;
    font-size: 0.8rem;
}

.sorting_header{
    font-weight: bold;
}

#first_heading{
    text-align: center;
}

#free_shipping{
    font-weight: bold;
}

#home_section{
    background-image: url("/img/bookfront.jpg");
    background-repeat: no-repeat;
    background-size: 80rem;
    height: 30rem;
}
