body {
    padding-top: 20px;
    padding-bottom: 20px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    margin-bottom: 20px;

}

.navbar-brand{
    color: white !important;
}
.nav-link {
    color: white !important;
}


.carousel-caption{
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 40;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    font-size: 1.3rem;
}
.featured{
    padding-top: 30px;
    padding-bottom: 5px;
}
.feat{
    text-align: center;
}


.col-xs-1{
    margin:23px;
}
.fix{
    padding-top: 20px;
    padding-bottom: 20px;
}
.last{
    color: #1f2123;
    opacity: 0.8;
    background-color: #dddddd;
}

.last p{
    display: inline;
}


hr
{
    color: red;
    background: white;
    border: 0;
    height: 1px;
    margin: 0px;
}


/*login-style*/

.login{
    padding-top: 100px;
    padding-bottom: 9rem;
}

.nav-pills .item1 a{
    color: #1f2123 !important;
    text-shadow: 0.2px 0.2px;
}

.nav-pills .item2 a{
    color: #1f2123 !important;
    text-shadow: 0.2px 0.2px;
}

.nav-pills .item3 a{
      color: #1f2123 !important;
      text-shadow: 0.2px 0.2px;
  }

.nav-pills .item4 a{
    color: #1f2123 !important;
    text-shadow: 0.2px 0.2px;
}

.nav-pills .item1 a.active{
    background-color: #2ea546;
    color: white !important;
}

.nav-pills .item1 a:hover{
    background-color: darkgreen;
    color: white !important;
}

.nav-pills .item2 a.active{
    background-color: #2ea546;
    color: white !important;
}
.nav-pills .item2 a:hover{
    background-color: darkgreen;
    color: white !important;
}

.nav-pills .item3 a.active{
    background-color: #2ea546;
    color: white !important;
}
.nav-pills .item3 a:hover{
    background-color:darkgreen;
    color: white !important;
}

.nav-pills .item4 a.active{
    background-color: #2ea546;
    color: white !important;
}
.nav-pills .item4 a:hover{
    background-color:darkgreen;
    color: white !important;
}
.label{
    color: #1f2123 !important;
}

.submit{
    background-color: #2ea546;
    color:white;
}

.tip-email{
    font-size: 12px;
}
.submit:hover{
    color: white;
    background-color: darkgreen}

.fixed-bottom{
    margin-bottom: 20px;
}

nav i{
    font-size: 1.3rem;
}

button.btn.btn-dark {
    background-color: #2ea546;
    border-color: #2ea546;
}

button.btn.btn-dark:hover {
    background-color: darkgreen;
}

.featured_text{
    color: #1f2123;
    font-size: 1.2rem;
}

.social_media{
    text-align: center;
    font-size: 1.5rem;
}

.social_media i{
    color: #1f2123;
}



.bookshelf{
    padding-bottom: 50px;
    margin-top: 50px;
}

.book-item{
    display: inline;
    float: left;
}

.card-text{
    display: block;
}

.sorting{
    height: 100%;
    font-size: 0.8rem;
}

.sorting_header{
    font-weight: bold;
}